@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Montserrat&display=swap");
* {
  font-family: "Lexend Deca", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #13131F;
  color: #FEFBFB;
}

.menu-navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 6rem;
  font-size: 1.3rem;
}
.menu-navBar ul {
  width: 60%;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.menu-navBar .btnMenu:hover {
  color: #7c1aa9;
}
.menu-navBar .login {
  padding: 0.6rem;
  border-radius: 1rem;
  border: solid 1px #8257E6;
  width: 10rem;
}

main {
  width: 90%;
  /* Works on Chrome, Edge, and Safari */
}
main .container-firts {
  padding: 2rem 4rem 2rem 5rem;
  width: 100%;
}
main .container-firts h2 {
  margin-bottom: 1.3rem;
  font-size: 3rem;
}
main .container-firts .container-pub {
  display: flex;
  height: 25rem;
  margin-left: 0;
  justify-content: space-around;
  gap: 2rem;
}
main .container-firts .container-pub .section-img-legendada {
  height: 80%;
  position: relative;
  padding: 0.6rem;
  width: 75%;
}
main .container-firts .container-pub .section-img-legendada .legenda {
  height: 90%;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 1rem;
  background: transparent;
}
main .container-firts .container-pub .section-img-legendada .post-img {
  height: 23rem;
  width: 100%;
  opacity: 30%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}
main .container-firts .container-pub2 {
  display: grid;
  /* height: 20rem; */
  width: 25rem;
  height: 95%;
}
main .container-firts .container-pub2 .section-img {
  height: 100%;
  position: relative;
  padding: 0.6rem;
  gap: 1rem;
}
main .container-firts .container-pub2 .legenda-grid {
  max-width: 35ch;
  padding: 1rem;
  height: 80%;
  position: relative;
  display: flex;
  align-items: flex-end;
  background: transparent;
}
main .container-firts .container-pub2 .img {
  height: 85%;
  width: 19rem;
  margin-bottom: 1rem;
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 70%;
}
main .main {
  display: flex;
  width: 100%;
  padding: 2rem;
}
main .main .container {
  width: 80%;
  padding: 0.6rem;
  height: 41rem;
  overflow-y: scroll;
  display: grid;
  overflow-x: hidden;
  justify-items: end;
  justify-content: end;
  margin: 2rem 0rem 0rem 3rem;
}
main .main .container .posts {
  width: 95%;
  display: flex;
  box-sizing: border-box;
  gap: 1rem;
  margin: 2rem 2rem 2rem 1rem;
}
main .main .container .posts .img-post {
  width: 18rem;
  height: 10rem;
}
main .main .container .posts .conteudo-post {
  width: 80%;
}
main .main .container .posts .title-post {
  width: 100%;
}
main .main .container .posts .paragrafo {
  font-size: 10px;
  margin-bottom: 1rem;
}
main .main .container .posts .btn-post {
  background-color: #8257E6;
  border-radius: 0.3rem;
  padding: 0.2rem;
  width: 8rem;
  height: 2rem;
}
main .main .container-secundario {
  height: 42rem;
  width: 30rem;
  margin: 2rem 0rem 0rem 0rem;
}
main .main .post-right {
  height: 10rem;
  width: 25%;
  display: grid;
  position: absolute;
  gap: 3rem;
}
main .main .section-img {
  margin-left: 2rem;
  height: 10rem;
  position: relative;
  padding: 0.6rem;
  gap: 1rem;
}
main .main .img {
  width: 90%;
  height: 100%;
  margin-bottom: 1rem;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 70%;
}
main .legenda-grid {
  font-size: 12px;
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: flex-end;
  background: transparent;
}
main * {
  scrollbar-width: thin;
  scrollbar-color: rgb(102, 102, 102) rgb(102, 102, 102);
}
main *::-webkit-scrollbar {
  width: 12px;
}
main *::-webkit-scrollbar-track {
  background: rgb(102, 102, 102);
}
main *::-webkit-scrollbar-thumb {
  background-color: #8257E6;
  border-radius: 20px;
  border: 1rem solid #8257E6;
}/*# sourceMappingURL=index.css.map */