* {
    font-family: "Lexend Deca", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #13131F;
    color: #FEFBFB;
}
body{
    gap: 2rem;
    overflow-y: scroll;
}
.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-auto-flow: row;
    
    justify-items: center;
    
    // position: absolute;
    padding: 72px 0px;
}

.post-Img {
    width: 75%;
    height: 350px;
    position: relative;
    
    

    img {
        width: 110%;
        height: 100%;
        display: block;
        object-fit: cover;
        opacity: 50%;
        border-radius: .5rem;
        


    }

    .card-post {
        width: 90%;
        height: 80%;
        position: absolute;
        top: 1rem;
        left: 1rem;
        right: 1rem;
        background-color: transparent;
        display: grid;
        gap: 2rem;
        place-items: center;
        justify-items: start;
        align-content: center;
        grid-auto-rows: 30px;
        grid-template-columns: 30%;


        h2,
        p {
            background-color: transparent;
        }

    }

}

.card-artigo {
    width: 75%;
    height: auto;
    position: relative;
    .text {
        padding: .5rem;
        line-height: 25px;
        
    }
}

footer{
    width: 100%;
    height: 2.5rem;
    background-color: #202028;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

@media (max-width: 600px){
    .post-Img{
    width: 76%!important;
    height: 80%!important;
    }
    .card-post {
    grid-auto-rows: 20px!important;
    grid-template-columns: 100%!important;
    font-size: 10px;
    }
    
    h2,h1,p{
        font-size: 15px;  
          
    }
}